<div class="row">
  <div class="col s12">
    <h1 class="center-align"> Good Day Mobius Team! </h1>
    <p>
      Welcome to my coding challenge! I built this using a combination of Angular 4, Ruby on Rails, Node.Js and Postgres!
      Feel free to have a look around, this was definitely a blast. I had never used Rails before, but the simplicity of using 
      Devise was pretty cool! As you navigate around, you'll see events firing back and forth, utilizing Angular 4's
      awesome Observables and Services. Hope you like it as much as I had fun building it, learned a few new handy tricks!
    </p>
  </div>
</div>