<div class="row">

  <div class="col l8 s12 offset-l2">

    <div class="card blue-grey lighten-5 z-depth-4" style="margin-top: 5em">

      <div class="card-content">

        <div style="margin-bottom: 0" class="row ">

          <div class="col l4 s12 center" style="margin-bottom: 1em">
              <i class="large material-icons">tag_faces</i>
          </div>

          <div class="col l8 s12">

            <ul class="collection grey-text text-darken-2">
              <li class="collection-item">Email: <b>{{user.email}}</b></li>
              <li class="collection-item">Name: <b>{{user.num_credits}}</b></li>
            </ul>
          </div>
        </div>

      </div>
      
      <div class="card-action clearfix">
        
        <label for="amount">Amount</label>
        <div class="input-field col s12">
          <input id="email"
          type="amount"
          required
          name='amount'
          [(ngModel)]='amount'
          class="validate">
        </div>
        
        <button (click)="sendTransaction()" class="btn btn-block deep-orange darken-1 white-text waves-effect waves-light right">
                SEND
        </button>

      </div>

    </div>

  </div>
</div>